librosa==0.11.0
matplotlib==3.10.7
natsort==8.4.0
numpy==2.3.4
pandas==2.3.3
pesq==0.0.4
pystoi==0.4.1
PyYAML==6.0.3
scipy==1.16.2
soundfile==0.13.1
torch==2.6.0
torch_pesq==0.1.2
torchaudio==2.6.0
tqdm==4.67.1
tensorboard==2.20.0